body {
    background-color: black;
}
.muc {
    list-style: none;
color: aliceblue;
    display: flex;      /* làm cho nằm ngang */
    gap: 20px;          /* khoảng cách giữa các mục */
}
header {
    display: flex;
padding: 20px 0px 10px 70px;
    }
i {
    padding: 20px 0px 10px 200px;
    color: aliceblue;
 }
input[type="text"] {
    background-color: #d63c1c;   /* màu đỏ cam */
    color: white;                /* chữ trắng */
    border: none;                /* bỏ viền */
    padding: 10px 10px;          /* khoảng cách trong nút */
    border-radius: 8px;          /* bo góc */
    font-size: 20px;             /* cỡ chữ */
    font-weight: bold;           /* chữ đậm */
    width: 80px;
    margin-left: 30px;

    }
    input[type="text"]::placeholder {
    color: #faf8f8; /* placeholder xám sáng dễ nhìn hơn */
}
.login {
    color: white;
    margin-left: 10px;
    margin-top: 15px; 
}
.logo img {
width: 100px;   
  height: 40px;
  margin-top: -100px;
}
div {
    color: white;
    font-size: 20px;
     margin-left: 75px; 
     margin-right: 75px;
    margin-top: 70px;
    font-weight: 600; /* hơi đậm */
}
img {
  width: 200px;   
  height: 150px;   
   border-radius: 10px
}
.anh {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    
    
}
.tungphim {
    margin: 0;
}
p {
    margin: 0;
    font-weight: 400; /* hơi đậm */
    font-size: 18px;
}

button {
  color: white;
  border: none;
  width: 223px;
height: 90px;
  border-radius: 8px;
}
.nutbam {
    margin-inline: 70px;
}
 .top-banner img{
            width: 100%;
            height:100%;
            
        }
        .last-banner img {
            width: 100%;
            height: 100%;
        }