body{
    display: flex;
    width: 100%;
    margin: 0px;
}
.box-trai{
    background-color: rgb(89, 89, 211);
    width: 15%;
    height: 695px;
}
.box-phai{
    width: 85%;
    margin-right: 0;
}
.title{
    font-size: 20px; 
    font-weight:bold;
    font-family: Arial, Helvetica, sans-serif; 
    padding: 15.5px;
    color: white;
}
.box{
    border-bottom: 1px solid gray;
    background-color: aliceblue;
    width: 90%;
    margin:auto;
    font-size: 20px;
    border-radius: 10px;
    margin-top: 15px;

}
.box li{
    padding: 10px;
}
.box li:hover{
    background-color: rgb(89, 89, 211,0.5);
}
.menu{
    background-color: rgb(89, 89, 211);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 13px;
}
.menu li ul{
    position:absolute;
    background-color: rgba(51, 45, 45, 0.8);
    padding: 5px;
    border-radius: 5px;
    margin: 0px;
    top: 35px;
    right: 10px;
    display:none;
    padding: 10px;
}
.menu li:hover ul{
    display: block;
}

ul{
    margin: 0px;
    padding: 0px;
}
li{
    list-style: none;
}
a{
    text-decoration-line: none;
    color: black;
}

button{
    background-color: rgb(36, 170, 15);
     width: 120px;  
    height: 40px;
    border: none;
    border-radius: 5px;
    font-size: 14px;
    color: white;
}
.sach {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
table {
    width: 100%;
    height: 100%;
}

th, td {
  padding: 8px 12px;
}





