body {
    background-color: rgb(12, 116, 228);
    color: aliceblue;
    font-size: 16px;
    font-weight: bolder;
    font-family: sans-serif;
}

header {
    display: flex; 
}
.header-left {
    padding: 20px 0px 30px 80px;
}
.header-right {
margin-left: 140px;
display: flex;
font-weight: initial;
font-size: 20px;
padding: 10px 10px 10px 10px;
}
.nguoidung{
    margin-left: 870px;
    font-size: 16px;
}

.button button {
    background-color: rgb(214, 230, 255);
    border: none;
    border-radius: 3px;
    display: flex;
    padding: 20px 30px 35px 20px;
     width: 250px;  
    height: 30px;  
    font-size: 16px;
    margin-left: 20px;
    color: black;
    
    
}


.main {
    background-color: white;
    color: black;
     margin-left: 20%;

}
.sach{

    display: flex;
    gap: 1000px;
    padding-top: 20px;
    padding-right: 10px;
}
button{
    background-color: rgb(36, 170, 15);
     width: 120px;  
    height: 40px;
    border: none;
    border-radius: 5px;
    font-size: 14px;
    color: white;
}
.themsach{
    padding: 10px 0px 0px 0px;
}
.right {
    margin-top: -290px;
}
td {
  font-weight: initial; 
  padding: 10px 10px 467px 20px;
}
table {
    width: 100%;
    height: 100%;
}
button :active {
    transform: scale(0.9);

}
