body {
    background-color: rgb(12, 116, 228);
    color: aliceblue;
    font-size: 16px;
    font-family: sans-serif;
}

header {
    display: flex; 
}
.header-left {
    padding: 20px 0px 30px 80px;
}
.header-right {
margin-left: 140px;
display: flex;
font-weight: initial;
font-size: 20px;
padding: 10px 10px 10px 10px;
}
.nguoidung{
    margin-left: 850px;
    font-size: 16px;
}

.button button {
    background-color: rgb(214, 230, 255);
    border: none;
    border-radius: 3px;
    display: flex;
    padding: 20px 30px 35px 20px;
     width: 250px;  
    height: 30px;  
    font-size: 16px;
    margin-left: 20px;
    color: black;
    
    
}


.main {
    background-color: white;
    color: black;
     margin-left: 20%;
     margin-top: -20%;

}

.themsach h2 {
    font-size: 26px;
    margin-bottom: 20px;
    font-weight: bold;
    margin-left: 10px;
}

.add-book-form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-left: 10px;
}

.add-book-form label {
    font-size: 16px;
    margin-bottom: -10px;
}

.add-book-form input,
.add-book-form select,
.add-book-form textarea {
    height: 40px;
    padding: 8px 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 15px;
    outline: none;
}

.add-book-form textarea {
    height: 90px;
    resize: vertical;
}

.add-book-form input[type="file"] {
    padding: 6px;
    height: auto;
}

.taomoi {
    width: 80px;
    padding: 10px 0;
    background: #007bff;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 16px;
    margin-top: 10px;
    margin-bottom: 20px;
}

.taomoi:hover {
    background: #0069d9;
    
}
